<br>
<h4 class ="text-center text-white">Seja bem vindo ao desafio CRUD da TotalIP!</h4>
<h5 class ="text-center text-white"> Faça cadastro, edite, consulte e exclua seus usuários em grande estilo! =D</h5>

<br>
<p class="text-center">
<a href ="http://localhost:3000/users" class="btn btn-outline-primary text-white">Clique aqui para começar</a>



